.DraftEditor-root{
background-color: white;
color:  Black;
height:75vh;
text-align:left;
border: 1px solid white ;
margin: 14px;
padding:20px;
overflow-y:auto;
}

.b-button{
    margin:2px;
    margin-bottom:0;
}