.editors-panel {
    background-color: white;
    color: Black;
    height: 86.5vh;
    text-align: left;
    border: 1px solid white;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    /* background: linear-gradient(0deg, rgba(231, 248, 47, 1) 0%, rgba(39, 246, 190, 1) 50%, rgba(7, 0, 211, 1) 100%); */
    background: rgb(240, 166, 203);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    box-shadow: 0px 0px 0px 100000vh #edeff0;
    border-radius: 20px;
}